body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(120deg, #89f7fe, #66a6ff);
}

.resume-container {
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

header {
    text-align: center;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

h1 {
    margin: 10px 0 5px;
}

h2 {
    border-left: 5px solid #66a6ff;
    padding-left: 10px;
    margin-top: 30px;
}

section ul {
    padding-left: 20px;
}

.skill {
    margin-bottom: 15px;
}

.bar {
    background: #ddd;
    border-radius: 20px;
    overflow: hidden;
}

.progress {
    height: 12px;
    width: 0;
    background: linear-gradient(90deg, #66a6ff, #89f7fe);
    border-radius: 20px;
    transition: width 1.5s;
}

button {
    padding: 10px 20px;
    background: #66a6ff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #4a8cff;
}
git remote add origin https://github.com/runing9318-ship-it/113051137-.git
 git branch -M main 
git push -u origin main
